<style>
    .user-card {
        width: 18rem;
        /* Largura do card */
        margin-bottom: 20px;
        /* Espaço entre os cards */
    }

    #top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }


</style>

<div class="container" id="top">
    <h1 class="mt-5">Todos os Usuários</h1>
    <a class="btn btn-primary ml-3" href="/adm"><b>Sair</b></a>
</div>
<div class="container">


<div class="container">

    <div class="row">
        {{#each filtroUsers}}
        <div class="col-md-4">
            <div class="card user-card">
                <div class="card-body">
                    <h5 class="card-title">{{nome}}</h5>
                    <p class="card-text">Email: {{email}}</p>
                    <p class="card-text">Funcão: {{funcao}}</p>
                    <form action="/adm/updateUser/{{id}}" method="GET" class="d-inline">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                    <form action="/adm/deleteUser/{{id}}" method="GET" class="d-inline">
                        <button type="submit" class="btn btn-danger ml-2">Excluir</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>